
data/DeepSEA_features/jobs-training/infile.vcf.out.diff.txt
data/DeepSEA_features/jobs-Dataset/infile.vcf.out.diff.txt
data/DeepSEA_features/jobs-training/infile.vcf.out.funsig.txt
data/DeepSEA_features/jobs-Dataset/infile.vcf.out.funsig.txt
